<div class="container">
    <form action="/opencv/view" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input name="photo" type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <button type="submit">전송</button>
    </form>
</div>